body {
    padding-top: 50px;
    padding-bottom: 20px;
}
html {
    font-family: 'Nunito Sans',sans-serif;
}
img {
    width: 180px;
    padding-top: 15px;
    padding-bottom:15px;
    border-radius: 2px;
  }
h5 {
    padding-top: 20px;
    font-weight: 700;
    color: #702082;
    margin-bottom: 8px;
}
.btn-group {
    margin-top: 20px;
}
.purple {
    background-color: #702082;
    color: white;
}
.dropdown-menu:hover {
    color:white !important;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.open > .dropdown-menu {
   display: grid !important;
}
table {
    font-family: 'Nunito Sans',sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 15px;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(odd) {
   background-color: #dddddd;
}

